<!--The content below is only a placeholder and can be replaced.-->
<h1 style="text-align: center">{{title}}</h1>
<div class="container">
  <div class="nav_container">
    <div style="width: 120px; text-align: center">网站导航</div>
    <nav>
      <div class="module_t" [routerLink]="['/dashboard']">首页</div>
      <div class="module_t" [routerLink]="['/list']">列表</div>
      <div class="module_t" [routerLink]="['/chart']">图表</div>
      <div class="module_t" [routerLink]="['/settings']">配置</div>
    </nav>
  </div>

  <div class="router-container">
    <router-outlet></router-outlet>
  </div>

</div>
<footer></footer>

